* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  body {
    background-color: #141314;
    color: whitesmoke;
    padding: 60px;
  }
  
  
  input {
    color: #535353;
    font-size: 1.2rem;
    width: 100%;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #141314;
    border: 2px solid #535353;
    border-radius: 6px;
    color: whitesmoke;
    margin: 1%;
    text-align: center;
  }
  
  .card p {
    padding: 5px;
    text-align: center;
  }
  
  .card img {
    max-height: 170px;
  }
  
  